.about_banner {
  display: flex;
  justify-content: center;
  height: 15rem;
  align-items: center;
  background: url('../assets/img/headerBG.jpg');
  margin-bottom: 3rem;
  box-shadow: inset 0px 0px 10px 1000px #112d4ec1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  padding-top: 5rem;
}


.about_banner>h1 {
  color: #fff;
  font-size: 50px;
  letter-spacing: 3px;
  text-transform: uppercase;
}


/* Service section css  */
.service-item .service-text {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  text-align: center;
  background: #FFFFFF;
  box-shadow: 0 0 45px rgba(0, 0, 0, .06);
  transition: .5s;
  z-index: 2;
}

.service-item:hover .service-text {
  top: -1.5rem;
}

.service-item .service-text h5 {
  transition: .5s;
}

.service-item:hover .service-text h5 {
  color: var(--primary);
}

.service-item .service-btn {
  position: absolute;
  width: 80%;
  height: 3rem;
  left: 10%;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FFFFFF;
  box-shadow: 0 0 45px rgba(0, 0, 0, .07);
  transition: .5s;
  z-index: 1;

}

.service-item:hover .service-btn {
  bottom: -1.5rem;
}

.g-5-align-items-center {
  flex-wrap: wrap-reverse;
}